# The MariaDB configuration file
#
# The MariaDB/MySQL tools read configuration files in the following order:
# 1. "/etc/mysql/mariadb.cnf" (this file) to set global defaults,
# 2. "/etc/mysql/conf.d/*.cnf" to set global options.
# 3. "/etc/mysql/mariadb.conf.d/*.cnf" to set MariaDB-only options.
# 4. "~/.my.cnf" to set user-specific options.

[mysqld]
#folder to stock the database
datadir = /var/lib/mysql
#socket to communicate for MySQL
#socket  = /run/mysqld/mysqld.sock
#connection with all IPs open
bind-address = 0.0.0.0
port = 3306
user = root
skip-networking = false